[SddmGreeterTheme]
Name=thyx
Description=thyx
Author=rccyx
License=MIT
Type=sddm-theme
Version=1.0
ConfigFile=theme.conf
MainScript=Main.qml
Theme-Id=thyx
Theme-API=2.0
QtVersion=6

